#mainCalc {
    margin-top: 3vw;
    padding-top: 2vw;
    padding-bottom: 1.5vw;
    width: 30vw;
    border: 1px solid grey;
    background-color: white;
}

#screen {
    border: 1px solid grey;
    width: 95%;
    height: 4vw;
    display: flex;
    text-align: left;
}

#numberRow {
    margin-left: .5vw;
}

.display {
    color: grey;
    font-size: 2vw;
    text-align: left;
    margin-top: .5vw;
    margin-left: .5vw;
}

#buttonpad {
    width: 100%;
    margin-top: 1.5vw;
}

button {
    border: 1px solid grey;
    color: grey;
    background-color: white;
    width: 20%;
    min-height: 5vw;
    font-size: 1.5vw !important;
    text-align: center;
    margin: .6vw !important;
    transition: .4s ease;
}

button:hover {
    background-color: lightpink;
    color: white;
}

button:focus {
    outline: none !important;
}

.equalBtn {
    width: 50%;
}

